
.vs/MyGame/FileContentIndex/079f8cf3-517c-4e47-a755-a81bf288347c.vsidx
.vs/MyGame/FileContentIndex/26181877-8ce8-4191-b678-8b043e9d77dd.vsidx
.vs/MyGame/FileContentIndex/27ec3c29-5365-4d27-9697-312039cd0fe5.vsidx
.vs/MyGame/FileContentIndex/9184c0f2-eed7-46d3-8680-4f4a393c4822.vsidx
.vs/MyGame/FileContentIndex/ad5a79ae-ba7e-4c2a-960b-8b4e18790071.vsidx
.vs/MyGame/FileContentIndex/af0a2c4a-e8b6-4d45-89c8-90bd2f01c618.vsidx
.vs/MyGame/FileContentIndex/b1bf0380-5fa7-4828-8b4f-411ddec31ed2.vsidx
.vs/MyGame/FileContentIndex/b80e6342-d037-466e-9a3d-8567f9dee86c.vsidx
.vs/MyGame/FileContentIndex/c4ef6c53-f6d7-421c-aba7-43d481ecaefa.vsidx
.vs/MyGame/FileContentIndex/e3b12232-8098-447c-ac42-72068e96fa9b.vsidx
MyGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyGame/obj/Debug/MainWindow.baml
MyGame/obj/Debug/MyGame_MarkupCompile.cache
MyGame/obj/Debug/MyGame_MarkupCompile.lref
MyGame/obj/Debug/Rules.baml
.vs/slnx.sqlite
.vs/MyGame/v17/.suo
*.json
*.sqlite
*.vsidx
*.sqlite
*.vsidx
.vs/WPF-Game/v17/.suo
MyGame/obj/Debug/MainWindow.g.cs
.vs/WPF-Game/v17/.suo
*.vsidx
MyGame/obj/Debug/Author.g.i.cs
*.cache
.vs/*
.vs/MyGame/*
.vs/
*.resources
*.resources
*.cache
WPF-Game\.vs
*.sqlite
.vs/slnx.sqlite
.vs/MyGame/v17/.suo
.vs/slnx.sqlite
.vs/WPF-Game/v17/.suo
